* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

@media (min-width: 768px) {
    .container {
        width: 650px;
    }
}
